@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;

  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {

  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
  min-height: 100%;

}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-grow: 1;


}

*,
*::before,
*::after {

  box-sizing: border-box;
}

.main-header {
  color: #000000;
  background: #ffffff;
  padding-left: 70px;
  padding-right: 70px;
}

.page-header-logo {
  display: block;
  width: 140px;
  margin-right: 28px;
  position: absolute;

}

.navigation {
  display: flex;


}

.navigation-list {
  display: flex;
  margin: 0 auto;
  list-style-type: none;


}


.icons {
  display: flex;
  margin-right: 20px;
}

.navigation-user {
  min-width: 44px;
  min-height: 64px;
  max-width: 308px;

}

.navigation-user .navigation-item:nth-child(1) .navigation-link {
  background-image: url("../images/icon/search.svg");
  background-repeat: no-repeat;
  background-position: center;

}

.navigation-user .navigation-item:nth-child(2) .navigation-link {
  background-image: url("../images/icon/favourite.svg");
  background-repeat: no-repeat;
  background-position: center;

}



.navigation-link {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  background-color: #ffffff;
  text-decoration: none;
  padding: 20px 16px;
}

.button-want {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
  margin-top: 14px;
  padding: 8px 50px;
  border-radius: 4px;
}

.main-index {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;

}

.welcome {
  width: 1200px;
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-color: #4197cd;
  background-size: over;

}

.sedona-text {
  width: 458px;
  padding-top: 51px;
  padding-bottom: 82px;


}

.welcome-text {

  padding-top: 69px;
  padding-bottom: 21px;

}

.main-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 25px;

}

.text-description {
  margin: 0;
  padding-bottom: 69px;
}


.reasons-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  margin: 0;
  padding: 0;
  list-style-type: none;

}


.reasons-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
  margin: 0;
  text-align: center;
  padding: 112px 85px 112px 85px;

}

.reasons-item-town {
  display: flex;
  grid-column: 1/-1;
}

.reasons-item-picture {

  width: 400px;
  padding: 102px 85px 102px 85px;
}

.reasons-item-bridge {
  display: flex;
  grid-column: 1/-1;
}

.accent {

  color: #ffffff;
  background-color: #82B3D3;


}

.accent-center {

  background-color: rgba(131, 179, 211, 0.2);
}

.photo-town {
  display: block;
}

.photo-bridge {

  display: block;
}



.reasons-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 62px;

}

.reasons-description {
  margin: 0;

}

.description {
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 64px;
}


.description-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 20px;
}

.adventures-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.adventures-item {

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
  padding: 81px 85px;
}

.accent-white {
  background-color: #ffffff;
}

.adventures-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 30px;

}

.adventures-description {
  margin: 0;

}

.adventures-home {
  background-image: url("../images/icon/stays.svg");
  background-repeat: no-repeat;
  background-position: center;

}

.adventures-food {
  background-image: url(../images/icon/food.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.adventures-souvenirs {
  background-image: url(../images/icon/souvenires.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.search-hotel {

  width: 592px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 104px;


}

.search-hotel-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding-top: 96px;
  padding-bottom: 20px;
}


.search-hotel-description {
  margin: 0;
  padding-bottom: 54px;

}

.button-search {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  margin-left: 108px;
  margin-right: 108px;
  padding: 8px 50px;



}


.phone-contacts {
  font-family: "PT Sans" sans-serif;
  color: #000000;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
}

.subscribe {
  font-family: "PT sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #ffffff;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.subscribe-block {
  width: 1200px;
  margin: 0 auto;
  background-image: url("../images/subscribe.jpg");
  background-color: #000000;
}

.subscribe {
  padding: 96px 258px 104px;
  margin: 0 auto;
  box-sizing: border-box;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
}

.subscribe-description {
  padding-bottom: 54px;
  padding-left: 104px;
  padding-right: 104px;
  text-align: center;
  margin: 0;

}

.subscribe-form {
  font-family: "PT sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  display: flex;

}

.e-mail-form {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  width: 452px;
}

.button-subscribe {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  text-align: center;
  text-transform: uppercase;
  border: none;
  padding: 8px 50px 8px 50px;

}




.page-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 70px;
  padding-right: 70px;
}

.footer-social {

  max-width: 180px;
  margin: 0;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 180px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  min-width: 46px;
  min-height: 46px;

}

.footer-social-link {
display: block;
background-color: #ffffff;
background-position: center;
background-size: 48px;
}

.footer-social-vk {
  background-image: url("../images/social/social-vk.svg");

}

.footer-social-tg {

background-image: url("../images/social/social-telegram.svg");
}

.footer-social-youtube {
  background-image: url("../images/social/social-youtube.svg");
}

.footer-contacts {
  margin-right: 40px;
  margin-left: 40px;

}

.phone-contacts {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 40;
  text-align: center;
}

.html-accademy {}

.main-inner {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background-color: #ffffff;
  flex-grow: 1;
}


.inner-header-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding-top: 35px;
  padding-left: 75px;
  text-align: left;

}

.inner-header {
  display: flex;
  flex-direction: column;
}


.filter-conteiner {
  background-image: url("../images/filter-background.jpg");
  background-color: #000000;
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: over;
  width: 1200px;


}

.breadcrumbs {
  display: flex;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  list-style-type: none;
  margin: o;
  padding: 0;

}

.breadcrambs-link {
  margin-right: 28px;
}

.catalog-filter {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  width: 412px;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
}


.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-go {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #82b3d3;
  text-transform: uppercase;
  border: none;

}

.button-reset {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: transparent;
  text-transform: uppercase;
  border: none;

}

.select-list {

  width: 1060px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 292px;
  margin-right: 70px;

}

.hotel-card-conteiner {
  display: flex;
  width: 1200px;


}

.hotel-sorting {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  padding-left: 70px;
  margin-top: 50px;
  padding-right: 70px;
  margin-bottom: 40px;

}

.icons-cards {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  min-width: 160px;
  gap: 8px;
}

.hotel-founded {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-right: auto;

}

.button-cards-current {
  width: 48px;
  height: 48px;
}

.button-every {
  width: 48px;
  height: 48px;
}

.button-list {
  width: 48px;
  height: 48px;
}

.hotels-card-conteiner {
  margin-top: 40px;
  padding-left: 70px;
  padding-bottom: 60px;
  padding-right: 70px;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 40px;
  gap: 20px;

}

.hotel-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  background-color: #ffffff;
  gap: 16px 20px;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.hotel-card-link {
  text-decoration: none;
  grid-column: 1/-1;
}

.hotel-card-title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.hotel-text {
  margin: 0;
}

.hotel-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
}

.hotel-card-photo {
  display: block;
  padding-bottom: 16px;
}

.hotel-card-button-more {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: #756157;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  padding: 8px 26px 8px 26px;
}

.button-favourites {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
  border-radius: 4px;
  padding: 8px 20px 8px 20x;

}

.button-favourites-added {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #7db54f;
  border: none;
  border-radius: 4px;
  padding: 8px 18px 8px 18x;

}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #ffffff;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  min-width: 60px;
  min-height: 60px;
  color: #ffffff;
  background-color: #82b3d3;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  padding: 12px 24px;

}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;

}

.pagination-more {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.subscribe-catalog {
  font-family: "PT sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #000000;
  width: 1200px;
  margin: 0 auto;
  padding: 96px 258px 104px;

}



.page-footer {
  background-color: #ffffff;
}
